.nav_item {
  max-width: 250px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
}

.nav_item:hover {
  background: var(--color-shade-1);
}

.nav_item:active {
  background: var(--color-shade-2);
}

.active {
  background: var(--nav-item-selected-bg-color);
  color: var(--nav-item-selected-text-color);
  font-weight: bold;
}

.active:hover {
  background: var(--nav-item-selected-bg-color-dark);
}
.active:active {
  background: var(--nav-item-selected-bg-color-darker);
}

.nav_item_icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.nav_item_count {
  color: inherit;
  font-weight: light;
  opacity: 0.65;
}
